DATABASE_URL="postgres://user:password@host:port/db-name"
# Nécessaire pour que Vite l’expose :
VITE_DATABASE_URL=$DATABASE_URL

# Formulaire de demande : https://www.demarches-simplifiees.fr/commencer/demande-creation-fs-fca
PROCONNECT_CLIENT_ID= 
PROCONNECT_CLIENT_SECRET=

# https://github.com/numerique-gouv/proconnect-documentation/blob/main/resources/valeur_ac_domain.md
PROCONNECT_DOMAIN=fca.integ01.dev-agentconnect.fr

# https://PROCONNECT_DOMAIN/api/v2/.well-known/openid-configuration
PROCONNECT_AUTHORIZATION_ENDPOINT=/api/v2/authorize
PROCONNECT_TOKEN_ENDPOINT=/api/v2/token
PROCONNECT_USERINFO_ENDPOINT=/api/v2/userinfo
PROCONNECT_END_SESSION_ENDPOINT=/api/v2/session/end

# DEV
PROCONNECT_REDIRECT_URI=http://localhost:5173/auth/callback/proconnect
PROCONNECT_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/auth/callback/logout
