{
	"experimentalTernaries": true,
	"useTabs": true,
	"quoteProps": "consistent",
	"plugins": [
		"prettier-plugin-svelte",
		"@trivago/prettier-plugin-sort-imports"
	],
	"htmlWhitespaceSensitivity": "ignore",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@playwright/(.*)$",
		"^@sveltejs/(.*)$",
		"^svelte/(.*)$",
		"^\\$app/(.*)$",
		"^\\$env/(.*)$",
		"^\\$lib/server/(.*)$",
		"^\\$lib/(.*)$",
		"^[./]",
		"<THIRD_PARTY_TS_TYPES>",
		"<TS_TYPES>^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderSideEffects": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
